		  html,body {
		  height: 100%;
		  width: 100%;
		  margin: 0;
		  padding: 0;
		  overflow: hidden;
		}
		/* id for main map container */
		#mapid {
		  height: 85%;
		  width: 100%;
		  position: relative;
		}
		/* id for disclaimer message in the corner */
		#messageDiv {
		  padding-left: 10px;
		  padding-right: 10px;
		  position: absolute;
		  z-index: 10000;
		  left: calc(50% - 750px);
		  top: calc(50% + 170px); 
		  background-color: white;
		}
		
		#crosshair {
			left: calc(50% - 10px);
			top: calc(50% - 10px); 
			position: absolute;
			width: 20px;
			height: 20px;
			z-index: 10000; /* adds to the front of div */
			text-align: center;
			font-weight: normal;
			font-size: 16px;
			color: #222;
			text-shadow: 1px 1px 3px #fff;
		}		

		/* id for ribbon container */
		#accs {
		  width: 100%;
		  height: 15%;
		}				
		
		#HeightLABEL {
		  float: left;
		  font-size: 20px;
		  margin-left: 20px;
		  margin-top: 28px;
		}
		
		#DischargeLABEL {
		  float: left;
		  font-size: 20px;
		  margin-left: 20px;
		  margin-top: 40px;
		}
		.Hslidecontainer {
		  height: 10%;
		  width: 33.333%;
		  float: right;
		  margin-right: 20px;
		  line-height: 30px; /* controls height of each <br> in container*/
		  margin-top: 5px;
		}

		.Hslider {
		  -webkit-appearance: none;
		  width: 100%;
		  height: 15px;
		  margin-top: 9px;
		  border-radius: 20px;
		  background: #b9bac9;
		  outline: none;
		  opacity: 0.7;
		  -webkit-transition: .2s;
		  transition: opacity .2s;
		}

		.Hslider:hover {
		  opacity: 1;
		}

		.Hslider::-webkit-slider-thumb {
		  -webkit-appearance: none;
		  appearance: none;
		  width: 22px;
		  height: 22px;
		  border-radius: 50%;
		  background: #0028f0;
		  cursor: pointer;
		}

		.Hslider::-moz-range-thumb {
		  width: 25px;
		  height: 25px;
		  border-radius: 50%;
		  background: #0028f0;
		  cursor: pointer;
		}
		.Hslider:disabled {
		  opacity: 0.25;
		}
		
		#simformat {
		  float: left;
		  font-size: 18px;
		  margin-left: 20px;
		  margin-top: 40px;
		}
		
		.legend {
			line-height: 18px;
			color: #000000;
			background: #ffffff;
			padding-left: 10px;
			padding-right: 10px;
			padding-bottom: 0px;
			padding-top: 20px;
		}
		.legend i {
			width: 18px;
			height: 18px;
			float: left;
			margin-right: 8px;
			opacity: 0.9;
		}
		
		/* add checkbox container - horizontal alignment */
		.checkboxes label {
		  display: inline-block;
		  padding-right: 40px;
		  white-space: nowrap;
		}
		.checkboxes input {
		  vertical-align: middle;
		}
		.checkboxes label span {
		  vertical-align: middle;
		}